$mydisplay: flex;
$anchor: none;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.parentCard {
  display: $mydisplay;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 50px;
  max-width: 1150px;
  gap: 50px;
}
.Card {
  width: 33.33%;
  background-color: var(--card-background);
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 4px 31px rgba(223, 22, 160, 0.12);
}
.Card .card_avatar {
  display: $mydisplay;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.Card .icon {
  width: 48px;
  height: 48px;
  background-image: linear-gradient(135deg, var(--type-cursor), var(--card-icon));
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card .card_title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--type-cursor);
}
.Card .card_desc p {
  color: var(--color-textWhite);
  font-size: 1rem;
  line-height: 28px;
  margin: 20px 0;
}
/* Media Queries */
@media (max-width: 768px) {
  .parentCard {
    flex-wrap: wrap;
    margin: 0 15px;
    gap: 30px;
  }
  .Card {
    width: 45%;
  }
}
@media (max-width: 576px) {
  .Card {
    width: 100%;
  }
}
